.pagination {
  width: 80%;
  height: 100px;
  margin: 65px auto;
  border-top: 1px solid palevioletred;
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pagination > .active > a {
  background-color: rgb(179, 24, 78);
  border-radius: 100%;
  border-color: palevioletred;
  color: #fff;
}


.pagination > li > a {
  padding: 5px 15px;
  outline: none;
  cursor: pointer;
}


